// Colors

// primary
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// neurtal
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// Typography

$font-stack: 'Outfit', sans-serif;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 600;
$size-title: 1.375rem;