@import "variables";

html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
    line-height: 1.5;
    font-family: $font-stack;
    font-size: $font-standard;
    font-weight: $weight-medium;
    color: $desaturated-blue;
    background-color: $pale-blue;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 20.4375rem;
    background-color: $very-pale-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;

    .picture {

        &__image {
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
            max-width: 100%;
            height: auto;
        }
    }
    .description {
        width: 16rem;
        text-align: center;

        &__title {
            font-size: 1.3125rem;
            font-weight: $weight-black;
            color: $dark-blue;
        }

        &__text {
            line-height: 1.7;
            font-size: $font-small;
            margin-bottom: 2.5rem;
        }
    }
    .order {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__image {
            width: 3.125rem;
            height: 3.125rem;
        }

        &__plan {
            flex-direction: column;
            line-height: 0;
            align-items: center;
            margin-left: 1rem;

            &__name {
                font-size: $font-small;
                color: $dark-blue;
                margin-top: 1.1rem;
            }

            &__price {
                font-size: $font-small;
                margin-top: 1.1rem;
            }
        }

        &__change {
            font-size: $font-small;
            margin-left: 2rem;
            color: $bright-blue;
            font-weight: $weight-bold;
            &:hover {
                text-decoration: none;
                opacity: 0.8;
            }
        }
    }
    .buttons {
        text-align: center;
        font-size: $font-small;
        font-weight: $weight-black;

        &__proceed {
            display: block;
            background-color: $bright-blue;
            text-decoration: none;
            color: #fff;
            padding: 0.8125rem 4.0625rem;
            margin-top: 2.5rem;
            border-radius: 0.625rem;
            transition: opacity 150ms ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }

        &__cancel {
            display: block;
            color: $desaturated-blue;
            text-decoration: none;
            margin: 1.4375rem 4.0625rem 2rem 4.0625rem;
            transition: color 150ms ease-in-out;

            &:hover {
                color: $dark-blue;
            }
        }
    }
}